@import url('https://fonts.googleapis.com/css?family=Roboto');

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 4rem;
}

main {
  text-align: center;
}
